<footer>
  <p>
    Copyright &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    OGUBUIKE EMEJURU All Rights Reserved
  </p>
</footer>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
