<header>
  <a href="/" class="logo">LOGO</a>
  <ul class="navbar">
    <li><a href="/api/v1/user/" class="active">HOME</a></li>
    <li><a href="/api/v1/user/upload">UPLOAD</a></li>
    <li><a href="#">LOGIN</a></li>
    <li><a href="#">REGISTER</a></li>
  </ul>

  <div class="main">
    <div class="bx bx-menu" id="menu-icon"></div>
  </div>
</header>
