<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <main>
      <%- include("../partials/navbar.ejs") %>
      <section class="container_home">
        <h1>PHYSICS CLASS</h1>
        <a href="/api/v1/user/document/course/PHYSICS"
          ><button>
            <box-icon name="right-arrow-alt"></box-icon>
          </button>
        </a>
      </section>
      <section class="container_home">
        <h1>CHEMISTRY CLASS</h1>
        <a href="/api/v1/user/document/course/CHEMISTRY"
          ><button>
            <box-icon name="right-arrow-alt"></box-icon>
          </button>
        </a>
      </section>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
