<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>

  <body>
    <main>
      <%- include("../../partials/navbar.ejs") %>

      <h1>WELCOME TO</h1>

      <h1>GUBI'S PARADISE</h1>

      <h1>PLEASE LOGIN OR REGISTER TO GET ACCESS TO COURSE MATERIALS</h1>
    </main>

    <%- include("../../partials/footer.ejs") %>
  </body>
</html>
