<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/head.ejs") %>
  <body>
    <main>
      <%- include("../../partials/navbar.ejs") %>
      <section class="container_home">
        <h1>PHYSICS CLASS</h1>
        <a href="/api/v1/course/document/course/PHYSICS"
          ><button>
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </a>
      </section>
      <section class="container_home">
        <h1>CHEMISTRY CLASS</h1>
        <a href="/api/v1/course/document/course/CHEMISTRY"
          ><button>
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </a>
      </section>
    </main>

    <%- include("../../partials/footer.ejs") %>
  </body>
</html>
